<% include ./partials/header %>

<div class='ui main text container segment'>
    <div class='ui huge header'>New BIG MONEY BLOG </div>
        <form class='ui form' action='/blogs' method='POST'>

        <div class='form'>
        <lable>Big Money Title</lable>
        <input type= 'text' name='blog[title]' placeholder='title'>
        </div>
        <div class='form'>
        <lable>Pimp'en Image</lable>
        <input type= 'text' name='blog[image]' placeholder='image'>
        </div>

        <div class='form'>
        <lable>Big Money Post</lable>
        <textarea  name='blog[body]'></textarea>
        </div>
        <br>
        
            <input class="ui green basic button" type= 'submit'>
            
            
            
        </form>
</div>

<% include ./partials/footer %>